[db]
db-server ansible_host=${db_ip} ansible_user=root ansible_ssh_private_key_file=~/.ssh/devops-test-key

[app]
app-server ansible_host=${app_ip} ansible_user=root ansible_ssh_private_key_file=~/.ssh/devops-test-key
